# Main Course Week 3: Exercises

**Comments:** These exercises were pretty straight forward for the most part. The only question I really had problems with was the Pig Latin one. I have a feeling my code could be shortened / simplified, but not really sure how.

## Chapter 7 Exercises
---

### 7.22 Data Science: Pandas Series

Perform the following tasks with pandas Series:

a) Create a Series from the list [7, 11, 13, 17].

In [9]:
import pandas as pd

series_a = pd.Series([7, 11, 13, 17])
series_a

0     7
1    11
2    13
3    17
dtype: int64


b) Create a Series with five elements that are all 100.0.

In [8]:
hundreds = pd.Series(100.0, range(5))
hundreds

0    100.0
1    100.0
2    100.0
3    100.0
4    100.0
dtype: float64

c) Create a Series with 20 elements that are all random numbers in the range 0 to 100. Use a method describe to produce the Series' basic descriptive statistics.

In [4]:
import numpy as np

nums = np.random.randint(0, 100, 20)
rand_series = pd.Series(nums)

In [6]:
rand_series.describe()

count    20.000000
mean     49.800000
std      26.098195
min       6.000000
25%      33.250000
50%      45.000000
75%      69.250000
max      96.000000
dtype: float64

d) Create a Series called temperatures of the floating-point values 98.6, 98.9, 100.2 and 97.9. Using the index keyword argument, specify the custom indices 'Julie', 'Charlie', 'Sam' and 'Andrea'.

In [10]:
temperatures = pd.Series([98.6, 98.9, 100.2, 97.9], index=['Julie', 'Charlie', 'Sam', 'Andrea'])
temperatures

Julie       98.6
Charlie     98.9
Sam        100.2
Andrea      97.9
dtype: float64

e) Form a dictionary from the names and values in Part (d), then use it to initialize a Series.

In [11]:
series_dict = {'Julie': 98.6, 'Charlie': 98.9, 'Sam': 100.2, 'Andrea': 97.9}

pd.Series(series_dict)

Julie       98.6
Charlie     98.9
Sam        100.2
Andrea      97.9
dtype: float64

### 7.23 Data Science: Pandas DataFrames

Perform the following tasks with pandas DataFrames:

a) Create a DataFrame named temperatures from a dictionary of three temperature readings each for 'Maxine', 'James' and 'Amanda'.

In [13]:
temp_readings = {'Maxine': [99, 98, 97], 'James': [98, 101, 100], 'Amanda': [96, 99, 100]}

temperatures = pd.DataFrame(temp_readings)

temperatures

   Maxine  James  Amanda
0      99     98      96
1      98    101      99
2      97    100     100

b) Recreate the DataFrame temperatures in Part (a) with custom indices using the index keyword argument and a list containing 'Morning', 'Afternoon', 'Evening'.

In [16]:
temp_readings = {'Maxine': [99, 98, 97], 'James': [98, 101, 100], 'Amanda': [96, 99, 100]}

temperatures = pd.DataFrame(temp_readings, index=['Morning', 'Afternoon', 'Evening'])

temperatures

           Maxine  James  Amanda
Morning        99     98      96
Afternoon      98    101      99
Evening        97    100     100

c) Select from temperatures the column of temperature readings for 'Maxine'.

In [17]:
temperatures['Maxine']

Morning      99
Afternoon    98
Evening      97
Name: Maxine, dtype: int64

d) Select from temperatures the row of 'Morning' temperature readings.

In [18]:
temperatures.loc['Morning']

Maxine    99
James     98
Amanda    96
Name: Morning, dtype: int64

e) Select from temperatures the rows for 'Morning' and 'Evening' temperature readings

In [19]:
temperatures.loc[['Morning', 'Evening']]

         Maxine  James  Amanda
Morning      99     98      96
Evening      97    100     100

f) Select from temperatures the columns of temperature readings for 'Amanda' and 'Maxine'.

In [20]:
temperatures.loc[:, ['Amanda', 'Maxine']]

           Amanda  Maxine
Morning        96      99
Afternoon      99      98
Evening       100      97

g) Select from temperatures the elements for 'Amanda' and 'Maxine' in the 'Morning' and 'Afternoon'.

In [21]:
temperatures.loc[['Morning', 'Afternoon'], ['Amanda', 'Maxine']]

           Amanda  Maxine
Morning        96      99
Afternoon      99      98

h) Use the describe method to produce temperatures' descriptive statistics.

In [22]:
temperatures.describe()

       Maxine       James      Amanda
count     3.0    3.000000    3.000000
mean     98.0   99.666667   98.333333
std       1.0    1.527525    2.081666
min      97.0   98.000000   96.000000
25%      97.5   99.000000   97.500000
50%      98.0  100.000000   99.000000
75%      98.5  100.500000   99.500000
max      99.0  101.000000  100.000000

In [23]:
temperatures.T

        Morning  Afternoon  Evening
Maxine       99         98       97
James        98        101      100
Amanda       96         99      100

In [24]:
temperatures.sort_index(axis=1)

           Amanda  James  Maxine
Morning        96     98      99
Afternoon      99    101      98
Evening       100    100      97

## Ch. 8 Exercises
---

### 8.3 (Pig Latin)

Write a script that encodes English-language phrases into a form of coded language called pig Latin.

In [1]:
import re

def pig_latin(phrase):
    """Takes an English phrase and translates it into pig Latin."""
    words = phrase.split()
    
    for index, word in enumerate(words):
        if(re.fullmatch(r'[AEIOUaeiou][a-z]+', word)): #if the word starts with a vowel
            words[index] = f'{word}ay'
        else: #if the word starts with a non-vowel
            words[index] = f'{word[1:len(word)] + word[0] + "ay"}'
        
    return ' '.join(words) #returns sentence, assuming no punctuation

sentence = input('Enter a sentence you want translated into Pig Latin: ')
pig_latin(sentence)

Enter a sentence you want translated into Pig Latin:  hi my name is chris

'ihay ymay amenay isay hriscay'

### 8.8 Converting Integers to Emojis

Display a table of character codes and 10 emojis beginning with the smiley face.

In [73]:
print(f'Character Code    Emoji')

list_code = [0x1F600 + i for i in range(10)] #list comp for 10 smiley emoji codes

for code in list_code:
    print(f'{code:>14X}    {code:>4c}') #print emoji equivalents

Character Code    Emoji
         1F600       😀
         1F601       😁
         1F602       😂
         1F603       😃
         1F604       😄
         1F605       😅
         1F606       😆
         1F607       😇
         1F608       😈
         1F609       😉

### 8.13 Regular Expressions: Condense Spaces to Single Space

Check whether a sentence contains more than one space between words. If so, remove the extra spaces and display the results.

In [2]:
import re

def condense_spaces(sentence):
    """checks whether a sentence contains more than one space between words
    and returns sentence with one space between words."""
    return(re.sub(r'\s+', ' ', sentence))

In [3]:
condense_spaces('Hi,   my name    is  Chris.')

'Hi, my name is Chris.'