# CHAPTER 3 EXERCISES -- Chris Zhang

---

*Comments:* I understood and could figure out every exercise, but 3.17 took a while longer for me to solve.

## 3.3 What Does This Code Do?

`for row in range(10):
    for column in range(10):
        print('<' if row % 2 == 1 else '>', end='')
    print()`

**Answer:** This code iterates over 10 rows and columns, The first for loop starts at row = 0 then jumps to the column for loop, where column starts at 0 as well. Then the print statement executes, where a '<' is printed if the value of row is an odd number (or if the actual row number is even). If the value of row is even, then it prints a '>'. The print statement makes sure carrots are printed next to each other with the end='' argument. This loop continues for all column values up to, but not including 10. The column for loop then exits, and an empty print() statement is called to go to a new line/row. The row for loop then iterates to the next number, and the process of printing '<' or '>' is repeated until the value of row reaches 10.

In [5]:
for row in range(10):
    for column in range(10):
        print('<' if row % 2 == 1 else '>', end='')
    print()

>>>>>>>>>>
<<<<<<<<<<
>>>>>>>>>>
<<<<<<<<<<
>>>>>>>>>>
<<<<<<<<<<
>>>>>>>>>>
<<<<<<<<<<
>>>>>>>>>>
<<<<<<<<<<

## 3.10 7% Investment Return

Reimplement Exercise 2.12 to use a loop that calculates and displays the amount of money you'll have each year at the ends of years 1 through 30

**Exercise 2.12:** Assuming that you begin with $1000, a 7% rate of return and leave your money invested, calculate and display how much money you'll have after 10, 20 and 30 years. Use the following formula: a = p(1 + r)^n 

where p = original amount invested (principal)

r = annual rate of return

n = number of years

a = amount on deposit at end of nth year

In [11]:
# Initialization

p = 1000
r = 0.07
a = 0

# Processing
for year in range(1, 31):
    print(f'Year {year:>2}: {p * (1 + r) ** year:.2f}')

Year  1: 1070.00
Year  2: 1144.90
Year  3: 1225.04
Year  4: 1310.80
Year  5: 1402.55
Year  6: 1500.73
Year  7: 1605.78
Year  8: 1718.19
Year  9: 1838.46
Year 10: 1967.15
Year 11: 2104.85
Year 12: 2252.19
Year 13: 2409.85
Year 14: 2578.53
Year 15: 2759.03
Year 16: 2952.16
Year 17: 3158.82
Year 18: 3379.93
Year 19: 3616.53
Year 20: 3869.68
Year 21: 4140.56
Year 22: 4430.40
Year 23: 4740.53
Year 24: 5072.37
Year 25: 5427.43
Year 26: 5807.35
Year 27: 6213.87
Year 28: 6648.84
Year 29: 7114.26
Year 30: 7612.26

## 3.13 Factorials

In [3]:
factorial = 1
number = int(input('Enter a number to calculate its factorial: '))

for value in range(number, 0, -1):
    factorial *= value
    
print(f'The factorial of {number} is {factorial}')

Enter a number to calculate its factorial:  0

The factorial of 0 is 1

## 3.31 Categorical Data

For categorical data like Boxer, Poodle, Collie, Beagle, Bulldog, the only descriptive statistics that would appropriate would be mode to count the most common category.

## 3.23 Validating Indentation

If the second print statement's indentation doesn't match that of the first print statement, then an IndentationError will be returned claiming the indentations don't match. The indentations within the if statement must be the same.

Executing the command in Terimnal produces the following error:
    
Indentation Error: unindent does not match any outer indentation level (<tokenize>, line 6)

## 3.17 Nested Loops

In [2]:
# triangle A
for row in range(0, 11):
    for col in range(0, row):
        print('*', end='')
    print()
print()


# triangle B
for row in range(10, 0, -1):
    for col in range(row, 0, -1):
        print('*', end='')
    print()
print()


#triangle C
for row in range(10, 0, -1):
    for space in range(10 - row):
        print(' ', end='')
    for col in range(row, 0, -1):
        print('*', end='')
    print()
print()


#triangle D
for row in range(0, 11):
    for space in range(10 - row):
        print(' ', end='')
    for col in range(0, row):
        print('*', end='')
    print()
print()

*
**
***
****
*****
******
*******
********
*********
**********

**********
*********
********
*******
******
*****
****
***
**
*

**********
 *********
  ********
   *******
    ******
     *****
      ****
       ***
        **
         *


         *
        **
       ***
      ****
     *****
    ******
   *******
  ********
 *********
**********

## (OPTIONAL) 3.14 Math Challenge: Approximating Pi

In [70]:
terms = int(input('Enter number of terms to estimate Pi: '))
pi = 0

for term in range(1, terms + 1):
    if(term % 2 == 0):
        pi -= (4 / (1 + 2 * (term - 1)))
    else:
        pi += (4 / (1 + 2 * (term - 1)))

print(f'Pi estimate with {terms} terms is: {pi}')

Enter number of terms to estimate Pi:  500000

Pi estimate with 500000 terms is: 3.141590653589692

## 3.18 Challenge: Nested Looping

In [134]:
# triangle A
for row_A in range(1, 11):
    for col_A in range(row_A):
        print('*', end='')
    for space_A in range(13 - row_A, 0, -1):
        print(' ', end='')
        
    #triangle B
    for col_B in range(11, row_A, -1):
        print('*', end='') 
    for space_B in range(13 - col_B, 14):
        print(' ', end='')
    
    #triangle C
    for space_C in range(0, row_A):
        print(' ', end='')
    for col_C in range(11, row_A, -1):
        print('*', end='')
    for space_C in range(3):
        print(' ', end='')
    
    #triangle D
    for space in range(10 - row_A):
        print(' ', end='')
    for col_D in range(row_A, 0, -1):
        print('*', end='')

    print()

*            **********    **********            *
**           *********      *********           **
***          ********        ********          ***
****         *******          *******         ****
*****        ******            ******        *****
******       *****              *****       ******
*******      ****                ****      *******
********     ***                  ***     ********
*********    **                    **    *********
**********   *                      *   **********